.logo {
  img {
    aspect-ratio: 224/142;
    height: auto;
    width: 30vw;

    @media (min-width: 768px) {
      width: 11.675vw;
    }
  }

  &.logo--footer {
    position: absolute;
    top: 3vw;
    left: 0;

    @media (min-width: 768px) {
      top: auto;
      bottom: 1vw;
      left: 50%;
      transform: translateX(-50%);
    }

    img {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
        drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      @media (min-width: 768px) {
        width: 21vw;
      }
    }
  }
}
