.logo {
  img {
    aspect-ratio: 224/142;
    height: auto;
    width: 11.675vw;
  }

  &.logo--footer {
    position: absolute;
    left: 50%;
    bottom: 1vw;
    transform: translateX(-50%);

    img {
      width: 21vw;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
        drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}
