.welcome {
  position: relative;
}

.frame {
  position: relative;
  aspect-ratio: 1710/775;
  background-color: #000;
  border: 0.6vw solid #000;
  border-radius: 4.5vw;
  margin: auto;
  overflow: hidden;
  pointer-events: none;
  width: 89.075vw;
}

.office {
  object-fit: cover;
  object-position: 0 -3vw;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.larry {
  position: absolute;
  width: 25vw;
  left: 0;
  bottom: -100%;
  z-index: 2;
}

.arm {
  position: absolute;
  bottom: -100%;
  object-fit: contain;
  width: 13vw;
  z-index: 2;
}

.table {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  z-index: 3;
}

.text-bubble {
  position: absolute;
  top: -1vw;
  right: 4vw;
  aspect-ratio: 878/670;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
  text-align: center;

  p {
    font-size: 3vw;
    line-height: 1;
  }
}
