.welcome {
  position: relative;
}

.frame {
  position: relative;
  aspect-ratio: 1648/946;
  background-color: #000;
  border: 11px solid #000;
  border-radius: 85px;
  height: calc(100vh - 75px);
  margin: auto;
  overflow: hidden;
  pointer-events: none;
  width: 85.83vw;
}

.office {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.larry {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 24vw;
  bottom: 8vw;
  z-index: 2;
}

.arm {
  position: absolute;
  left: 47%;
  bottom: 0;
  object-fit: contain;
  width: 15vw;
  z-index: 2;
}

.table {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
}

.text-bubble {
  position: absolute;
  top: 0;
  right: 0;
  aspect-ratio: 878/670;
  width: 32vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-size: 2rem;
  pointer-events: none;
  text-align: center;
  z-index: 1001;

  p {
    font-size: 1.5vw;
  }
}
