.about {
  padding-top: 12.75vw;
  padding-bottom: 12.75vw;
  width: 100%;
  background-color: #e5dac7;
  overflow: hidden;
}

.background {
  position: relative;
  aspect-ratio: 1373/762;
  background-color: #b07949;
  border: 0.6vw solid #000;
  border-radius: 4.5vw;
  margin: 0 auto;
  width: 71.5vw;
}

.laptop-wrapper {
  position: absolute;
  top: -6vw;
  left: 2.5vw;
  width: 65vw;

  .laptop {
    display: block;
    max-width: 100%;
  }

  .browser {
    position: absolute;
    top: 5.5%;
    left: 50%;
    display: block;
    max-width: 100%;
    transform: translateX(-49%);
    width: 71%;
    z-index: -1;
  }
}
