.team {
  position: relative;
  display: grid;
  place-items: center;
  padding-top: 5.75vw;
  padding-bottom: 2.5vw;
  background-color: #e5dac7;

  img {
    object-fit: contain;
    height: auto;
    width: 90vw;
  }

  .team__icon {
    position: absolute;
    top: 3.5vw;
    left: 50%;
    transform: translateX(-78%);
    width: 13.5vw;
    height: auto;
  }
}
