.footer {
  position: relative;
  margin-top: -5vw;
  aspect-ratio: 1920/307;
  background-image: url('footer.svg');
  background-repeat: no-repeat;
  background-size: 100vw;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vw;

  .logo-wrapper {
    min-height: auto !important;
    width: auto !important;

    img {
      height: auto;
      width: 7.5vw;
    }
  }
}

.footer__copyright {
  font-size: 1.2vw;
  margin-bottom: 0;
}
