.bg-sound {
  display: grid;
  place-content: center;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  margin-left: 16px;
  width: 32px;

  @media (min-width: 768px) {
    margin-left: 1.5vw;
    width: 2.292vw;
  }

  svg {
    height: auto;
    width: 100%;

    path {
      fill: #34bbff;
    }
  }

  &:hover {
    svg path {
      fill: #fba41c;
    }
  }
}
