.coffee {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url('/coffee/coffee-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  pointer-events: none;

  @media (max-height: 1300px) {
    padding-top: 10rem;
  }

  .nft-animation {
    position: absolute;
    right: 22vw;
    bottom: 17vw;
    aspect-ratio: 1;
    height: auto;
    width: 15vw;

    @media (max-height: 720px) {
      width: 25vh;
      bottom: 29vh;
      right: 50%;
      transform: translateX(186%);
    }

    @media (min-width: 1920px) {
      right: 430px;
      bottom: 330px;
      width: 284px;
    }
  }

  .coffee__smoke {
    position: absolute;
    bottom: 36vw;
    right: 20vw;
    width: 20vw;

    @media (min-width: 1920px) {
      right: 370px;
      width: 400px;
    }
  }

  .coffee__img {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    margin-top: auto;
  }
}
