.coffee {
  position: relative;
  padding-top: 40px;
  z-index: 1;

  .coffee__bg {
    width: 85.83vw;
    margin: 0 auto;
  }

  .coffee__content {
    position: absolute;
    top: 10vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    justify-items: center;
    align-items: end;
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
  }

  .coffee__bar {
    aspect-ratio: 568/157;
    grid-row: 2;
    justify-self: center;
    width: 29.5835vw;
  }

  .coffee__animation {
    aspect-ratio: 634/1024;
    grid-row: span 2;
    justify-self: end;
    width: 33.021vw;
  }

  .coffee__sheet {
    background-image: url('coffee/sheet.png');
    background-size: cover;
    aspect-ratio: 600/778;
    justify-self: end;
    width: 31.25vw;

    .coffee__sheet-content {
      padding-top: 3.5vw;
      padding-right: 3vw;
      padding-left: 3vw;

      .coffee__sheet-content-heading {
        font-size: 3.5vw;
        font-weight: 500;
        line-height: 0.75;
        margin-bottom: 2vw;
      }

      .coffee__sheet-content-text {
        font-size: 1.7vw;
        line-height: 1;
      }
    }
  }
}
