.faq {
  display: flex;
  justify-content: center;
  align-items: end;
  aspect-ratio: 1935/1298;
  background-color: #e5dac7;
  background-image: url('faq/bg.webp');
  background-repeat: no-repeat;
  background-size: 100vw;
}

.faq__img {
  aspect-ratio: 576/917;
  height: auto;
  width: 30vw;
}
