.social-wrapper {
  display: flex;
  gap: 1.25vw;
  margin-left: auto;

  .social-icon {
    display: grid;
    place-content: center;
    aspect-ratio: 1;
    width: 2.292vw;

    svg {
      height: auto;
      width: 100%;

      path {
        fill: #34bbff;
      }

      &:hover,
      &:focus {
        path {
          fill: #fba41c;
        }
      }
    }
  }
}
