.social-wrapper {
  display: flex;
  margin-left: auto;
  gap: 16px;

  @media (min-width: 768px) {
    gap: 1.25vw;
  }

  .social-icon {
    display: grid;
    place-content: center;
    flex-shrink: 0;
    aspect-ratio: 1;
    width: 24px;

    @media (min-width: 768px) {
      width: 2.292vw;
    }

    svg {
      display: block;
      height: auto;
      max-width: 100%;

      path {
        fill: #34bbff;
      }

      &:hover,
      &:focus {
        path {
          fill: #fba41c;
        }
      }
    }
  }
}
