.flipbook {
  position: relative;
  top: -20px;
  display: flex;
  justify-content: center;
  margin-bottom: -20px;

  .flipbook__container {
    position: absolute;
    bottom: 0;
    aspect-ratio: 980/700;
    width: 85.83vw;

    .stf__parent {
      margin: 0 auto;

      .stf__item {
        outline: 7px solid #000;
      }
    }
  }

  .flipbook__table {
    width: 100vw;
  }
}
