.flipbook {
  position: relative;
  top: -20px;
  display: flex;
  justify-content: center;
  height: 900px;
  margin-bottom: -24px;

  @media (min-width: 768px) {
    height: auto;
    margin-bottom: -20px;
  }

  .flipbook__container {
    position: absolute;
    top: 320px;
    aspect-ratio: 980/700;

    @media (min-width: 768px) {
      top: auto;
      bottom: 0;
      width: 85.83vw;
    }

    .stf__parent {
      margin: 0 auto;

      .stf__item {
        outline: 3px solid #000;

        @media (min-width: 768px) {
          outline-width: 7px;
        }
      }
    }
  }

  .flipbook__table {
    @media (min-width: 768px) {
      width: 100vw;
    }
  }
}
