.flipbook {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 400px;
  padding: 3rem 1rem;
  scroll-snap-align: start;

  > * {
    height: 100%;
  }
}
